body {
    display: flex;
    flex-direction: column;
    background: #d2f6ff;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    color:#fff;
}

.hidden{
    display: none;
}